@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-unbounded: var(--font-unbounded), ui-sans-serif, system-ui, sans-serif;

  --color-green: oklch(86.644% 0.29483 142.5);
  --color-green-50: oklch(93.54% 0.11827 144.56);
  --color-green-100: oklch(92.009% 0.15146 144.22);
  --color-green-200: oklch(89.578% 0.2101 143.57);
  --color-green-300: oklch(87.941% 0.25501 143.02);
  --color-green-400: oklch(86.989% 0.28381 142.65);
  --color-green-500: oklch(86.644% 0.29483 142.5);
  --color-green-600: oklch(71.887% 0.24461 142.5);
  --color-green-700: oklch(56.322% 0.19165 142.5);
  --color-green-800: oklch(39.577% 0.13467 142.5);
  --color-green-900: oklch(20.733% 0.07055 142.5);
  --color-green-950: oklch(8.398% 0.02858 142.5);

  --color-radical-red: oklch(65.15% 0.24426 8.9705);
  --color-radical-red-50: oklch(93.094% 0.03903 355.77);
  --color-radical-red-100: oklch(88.867% 0.06565 355.5);
  --color-radical-red-200: oklch(81.039% 0.11885 357.73);
  --color-radical-red-300: oklch(74.282% 0.16995 0.62212);
  --color-radical-red-400: oklch(68.771% 0.21517 4.087);
  --color-radical-red-500: oklch(65.15% 0.24426 8.9705);
  --color-radical-red-600: oklch(60.161% 0.24049 14.667);
  --color-radical-red-700: oklch(49.204% 0.19665 13.801);
  --color-radical-red-800: oklch(37.597% 0.15025 12.203);
  --color-radical-red-900: oklch(24.973% 0.09991 9.3109);
  --color-radical-red-950: oklch(18.091% 0.07279 4.0347);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
